.dashboard {
  display: grid;
  grid-template-columns: 25vw 1fr; /* 25% for sidebar, rest for main content */
  grid-template-rows: 100vh; /* Full height for both sections */
  height: 100vh;
  overflow:scroll; /* Prevent horizontal scrolling */
      background-color: #faf8f3;

}
.sidebar {
  height: 100vh; /* Full height for the sidebar on larger screens */
  background-color: #faf8f3; 
  /* other styles for the sidebar */
}

.main-content {
  overflow-y: auto; /* Enable vertical scrolling for the main content if it overflows */

}


@media (max-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    height: auto; /* Let height adjust based on content */
  }
   .sidebar-container {
        width: 100vw;
      
        background-color: #faf8f3;
    }
  

  .sidebar {
    width: 100%; /* Full width on mobile */
    height: auto; /* Adjust height to fit content */
    order: 1; /* Make sure it comes before the main content */
    border-radius: 0; /* Remove rounded corners */
        flex-direction: row; /* Stack content horizontally if needed */
        justify-content: space-between; /* Space out the content */
        align-items: center; /* Vertically align content */
        padding: 0.5rem;
         padding: 0.5rem; /* Adjust padding for mobile */
        margin: 0; /* Ensure no margins are shrinking the sidebar */
        box-sizing: border-box; 
  }

  .main-content {
    width: 100%; /* Full width on mobile */
    height: auto; /* Adjust height to fit content */
    order: 2; /* Comes after the sidebar */
  }
}