.home {
  background-image: url('/Desktop.png');
  background-size: cover; /* Adjust the image to cover the entire area */
  background-position: center; /* Center the image */
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
    
}
@media (max-width: 767px) {
  .home {
    background-image: url('/Mobile.png');  
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .home {
    background-image: url('/Tablet.png');  
  }
}

@media (min-width: 1200px) {
  .home {
    background-image: url('/Widescreen.png');
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Takes up the full height of the viewport */
  position: relative;
  z-index: 1;
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
    padding-top: 40px;
}
.home-logo {
   position: absolute;
  top: 0; /* Align to the very top */
  right: 0; /* Align to the very right */
  width: 100px; /* Adjust as needed */
  margin: 10px;
}
.header-h1{
    font-weight: 700;
    color:  #094817;
    font-size: 56px;
    line-height: 70.56px;
    text-align: center;
     font-family: 'Plus Jakarta Sans';
     
}

.header-p{
    
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #094817;
  font-family: 'Plus Jakarta Sans';

}
.header-btn {
  margin-top: 20px; /* Add margin to adjust the position */
  font-size: 16px;
  color: #094817;
  background-color: #DBEB2B;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 249px;
height: 56px;
padding: 17px, 64px, 17px, 64px;
font-weight: 700;
 font-family: 'Plus Jakarta Sans';
}

.header-btn:hover{
  background-color: #CADA10;

}



/* sidebar  */

* {
    font-family: Plus Jakarta Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* Sidebar styles */
.sidebar {
    width: 426px;
    padding: 22.4px 24px 766px 21px;
    background-color: #faf8f3;
    border-radius: 0 20px 20px 0;
    border: 2px solid #e7e5e071;
    z-index: 1;
    box-sizing: border-box;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar.collapsed {
    width: 78px;
}

.double-carat {
    display: none;
    width: 100px;
}

.ingredients-logo {
    margin-left: 45%;
    width: 0px;
    border: none;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chef-logo {
    margin: 10px 0;
    width: 40px;
    height: 39px;
    cursor: pointer;
}

.logo {
    margin: 10px 0;
    width: 50px;
    height: 70px;
    cursor: pointer;
}

.double-carat-logo {
    background: transparent;
}

.assumption {
    width: 284px;
    height: 50px;
    margin-left: 45px;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #808f71;
}

.add-btn {
    border-radius: 30px;
    margin: 0 -8px 0 0;
    background-color: #035c41c2;
    font-size: 14px;
    color: white;
    border: 1px none;
    width: 25%;
    padding: 7px 0px 7px 0px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-btn:hover {
    background-color: #035C41;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    color: #094817;
}

.remove-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 40px;
    opacity: 0.7;
    transition: opacity 0.3s;
    width: 17px;
    height: 17px;
    background-image: url('../assets/trashcan-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.remove-btn:hover {
    opacity: 1;
}

.OR-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.OR-divider::before,
.OR-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d6dcd3;
}

.OR-divider:not(:empty)::before {
    margin-right: 10px;
}

.OR-divider:not(:empty)::after {
    margin-left: 10px;
}

.or-text {
    font-size: 14px;
    text-align: center;
    color: #094817;
    line-height: 1.36;
    margin: 0;
}

.search-icon {
    margin: 0px 5px 0px 0px;
    width: 15px;
    height: 15px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0px;
    padding: 8px 12px;
    border-radius: 30px;
    border: solid 1px #d6dcd3;
    background-color: #fff;
}

/* Main content styles */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #faf8f3;
    width: 100%;
    min-height: 100vh;
    padding: 40px 24px; /* Adjust padding to ensure proper spacing */
    box-sizing: border-box; /* Adjust padding to ensure proper spacing */
}

.green-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 214px;
    margin: 5px 0 60px;
    padding: 40px 247px 48px 247px;
    border-radius: 24px;
    background-color: #e1e683;
    box-sizing: border-box;
}

.main-title {
    font-size: 2.5rem;
    color: #094817;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 3.125 rem;
    margin-bottom: 20px;
}

.main-description {
    font-size: 15px;
    color: #094817;
    margin-bottom: 2rem;
    line-height: 1.75rem;
    text-align: center;
    font-weight: 300;
    width: 410px;
    line-height: 1.87;
    height: 56px;
}

.no-recipes {
    font-size: 1rem;
    color: #808f71;
    border: 2px none #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 250;
    line-height: 28px;
    font-style: italic;
}

.ingredients-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 10px 12px 14px;
    border-radius: 24px;
    background-color: #faf8f3;
}

.title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.no-results {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: center;
    color: #808f71;
    margin: 9.3em 0;
}

.ingredients-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #808f71;
}

.ingredients-input:not(:placeholder-shown) {
    color: #094817;
}

.upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 236px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column
}

/* main content */

* {
    font-family: Plus Jakarta Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #faf8f3;
    width: 100%;
    min-height: 100vh;
    padding: 40px 24px; /* Adjust padding to ensure proper spacing */
    box-sizing: border-box; /* Adjust padding to ensure proper spacing */
}

.green-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 214px;
    margin: 5px 0 60px;
    padding: 40px 247px 48px 247px;
    border-radius: 24px;
    background-color: #e1e683;
    box-sizing: border-box; 
}

.main-title {
    font-size: 2.5rem;
    color: #094817;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 3.125 rem;
    margin-bottom: 20px;
}

.main-description {
    font-size: 15px;
    color: #094817;
    margin-bottom: 2rem;
    line-height: 1.75rem;
    text-align: center;
    font-weight: 300;
    width: 410px;
    line-height: 1.87;
    height: 56px;
}

.no-recipes {
    font-size: 1rem;
    color: #808f71;
    border: 2px none #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 250;
    line-height: 28px;
    font-style: italic;
}

.ingredients-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 10px 12px 14px;
    border-radius: 24px;
    background-color: #faf8f3;
}

.title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.no-results {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: center;
    color: #808f71;
    margin: 9.3em 0;
}

.ingredients-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #808f71;
}

.ingredients-input:not(:placeholder-shown) {
    color: #094817;
}

.upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 236px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px 0;
    border-radius: 20px;
    border: dashed 1px #9eac97;
    background-color: #faf8f3;
}

.search-results ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 16px; /* Adjust the gap between items as needed */
    list-style: none;
    padding: 0;
}

.search-results li {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 16px;
}

.search-results img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.results-p {
    font-size: 1em;
    margin: 8px 0;
}

.search-results a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.spinner {
    margin-top: 150px;
    color: #094817;
}

/* Media query for large screens */
@media (max-width: 1200px) {
    .main-content {
        padding: 20px 16px;
    }
    .green-box {
        padding: 40px 10% 48px 10%; /* Adjust padding for smaller screens */
    }
    .main-description {
        width: 70%;
    }
    .search-results ul {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

/* Media query for tablets */
@media (max-width: 768px) {
    .green-box {
        padding: 30px 5% 30px 5%; /* Further adjust padding for smaller screens */
        margin: 20px 0 150px;
    }
    .main-title {
        font-size: 2rem;
    }
    .main-description {
        width: 80%;
    }
    .search-results ul {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
    .main-content {
        padding: 10px;
    }

    .box {
        padding: 10px;
    }

    .green-box {
        padding: 20px 3% 20px 3%; /* Further adjust padding for mobile screens */
        margin: 20px 0 100px;
    }
    .main-title {
        font-size: 1.75rem;
    }
    .main-description {
        width: 90%;
    }

    .no-recipes {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
    .ingredients-box {
        width: 95%; /* Adjust width */
        padding: 16px;
        margin: 10px auto; /* Adjust margins */
    }
    .search-results ul {
        grid-template-columns: 1fr; /* 1 column */
    }
    .search-results li {
        padding: 12px;
    }
}
