.home{
  background-image: url('/Desktop.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
@media (max-width: 767px) {
  .home {
    background-image: url('/Mobile.png');  
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .home {
    background-image: url('/Tablet.png');  
  }
}

@media (min-width: 1200px) {
  .home {
    background-image: url('/Widescreen.png');
  
  }
  .header-h1{
    margin-top:1% ;
  }
}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.header-h1{
    font-weight: 700;
    color:  #094817;
    font-size: 56px;
    line-height: 70.56px;
    text-align: center;
     font-family: 'Plus Jakarta Sans';
     margin-top: 15%;
     
}
.header-p{
    
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #094817;
  font-family: 'Plus Jakarta Sans';

}
.header-btn {
  margin-top: 20px; /* Add margin to adjust the position */
  font-size: 16px;
  color: #094817;
  background-color: #DBEB2B;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 249px;
height: 56px;
padding: 17px, 64px, 17px, 64px;
font-weight: 700;
 font-family: 'Plus Jakarta Sans';
}

.header-btn:hover{
  background-color: #CADA10;

}