* {
    font-family: PlusJakartaSans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
}
.sidebar {
    width: 426px;
  padding: 22.4px 24px 766px 21px;
  background-color: #faf8f3;
  border-radius: 0 20px 20px 0;
  border: 2px solid #e7e5e071;
  /* overflow: visible; */
  z-index: 1;
  box-sizing: border-box;
  /* overflow: auto; */
 
}

.sidebar-header {
  display: flex;
  align-items: center;
}
.sidebar.collapsed {
  width: 78px;
}

.double-carat{
  display: none;
  width: 100px;
}
.ingredients-logo  {
  margin-left: 45%; 
  width: 0px;
  border: none;
  
}
.logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.chef-logo{
   margin: 10px 0; 
  width: 40px;
  height: 39px;
  cursor: pointer;
}
.logo {
  margin: 10px 0; 
  width: 50px;
  height: 70px;
  cursor: pointer;
  
}

.double-carat-logo{
  background: transparent;
  

}



.assumption {
  width: 284px;
  height: 50px;
  margin-left: 45px;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #808f71;
}

.add-btn{
  border-radius: 30px;
  margin: 0 -8px 0 0;
  background-color: #035c41c2;
  font-size: 14px;
  color: white;
  border: 1px none;
  /* width: 90px; */
  width: 25%;
  padding: 7px 0px 7px 0px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-btn:hover {
  background-color: #035C41;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color: #094817;
}

.remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 40px;
  opacity: 0.7;
  transition: opacity 0.3s;
  width: 17px; 
  height: 17px;
  background-image: url('../assets/trashcan-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.remove-btn:hover {
  opacity: 1;
}

.OR-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.OR-divider::before,
.OR-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #d6dcd3;
}

.OR-divider:not(:empty)::before {
  margin-right: 10px;
}

.OR-divider:not(:empty)::after {
  margin-left: 10px;
}

.or-text {
  font-size: 14px;
  text-align: center;
  color: #094817;
  line-height: 1.36;
  margin: 0;
}

.search-icon {
margin: 0px 5px 0px 0px;
width: 15px;
height: 15px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0px ;
  padding: 8px 12px;
  border-radius: 30px;
  border: solid 1px #d6dcd3;
  background-color: #fff;
}
@media (min-width: 1200px) {
    .sidebar {
        width: 426px;
    }

    .ingredients-logo {
        margin-left: 39%;
    }

    .assumption {
        width: 284px;
        margin-left: 45px;
    }
}

/* Media query for tablets */
@media (min-width: 750px) and (max-width: 1199px) {
    .sidebar {
        width: 300px;
    }

    .ingredients-logo {
        margin-left: 20%;
        width: 0;
    }

    .assumption {
        width: auto;
        margin-left: 20px;
        font-size: 0.85rem;
    }

    .ingredients-box {
        width: auto;
        padding: 20px;
        margin: 20px auto;
    }
}


/* Media query for mobile phones */
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: auto;
    /* padding: 15px 10px; */
  }

  .sidebar-header {
    justify-content: center;
  }

  .logo,
  .double-karat-logo {
    height: 24px;
    margin-right: 5px;
  }

  .main-btn {
    width: 100%;
    margin: 20px 0;
    padding: 8px 20px;
  }

  .assumption {
    width: 100%;
    font-size: 10px;
  }
}
