.sidebar {
    width: 25vw; /* Sidebar takes up 25% of the viewport width */
    max-width: 400px; /* Ensure it doesn't get too wide */
    min-width: 200px; /* Minimum width for smaller screens */
    height: 100vh; /* Full viewport height */
    padding: 1rem; /* Relative padding */
    background-color: #faf8f3;
    border-radius: 0 20px 20px 0;
    border: 2px solid #e7e5e071;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2; /* Ensure it's on top of the dashboard */
}


/* Sidebar Header */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Search Bar Container */
.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


.double-carat-logo {
    background: transparent;
    border: none;
    display: block; /* Ensures the image doesn't inherit button inline styles */
    width: 10%; /* Adjust the width to ensure it fits */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}
.logo-container{
    display: flex;
    flex-direction: column;
    
}
.chef-logo, .logo{
    height: auto;
    width: 2.6rem;
    margin: 5px;
        cursor: pointer;

}

/* Search Bar */
.search-bar {
    width: 100%; /* Takes up the full width */
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem; /* Adjust padding */
    border-radius: 30px;
    border: solid 1px #d6dcd3;
    background-color: #fff;
    box-sizing: border-box;
}

.ingredients-input {
    border: none;
    outline: none;
    width: 75%; /* Input field takes up most of the space */
    font-size: 14px;
    color: #808f71;
}

.add-btn {
    width: 20%; /* Add button takes the remaining space */
    border-radius: 30px;
    background-color: #035c41c2;
    font-size: 14px;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    cursor: pointer;
}

.ingredients-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 24px;
    background-color: #faf8f3;
}

/* Ingredient Item */
.ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    color: #094817;
    width: 100%; /* Ensure ingredient item takes full width */
}
.remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 0.7;
  transition: opacity 0.3s;
  width: 14px; 
  height: 14px;
  background-image: url('../assets/trashcan-icon.svg');
  background-size: contain;
}

.remove-btn:hover {
  opacity: 1;}


@media (max-width: 768px){
   aside.sidebar{
    max-width: 100%;
   }


    .assumption, /* Hides the "We assume..." text */
    .remove-btn, /* Hides the remove buttons */
    .sidebar-header {
        display: none;
    }

    .ingredients-box,
    .search-bar-container {
        width: 100%; /* Ensure inner content adjusts to the full width of the sidebar */
    }
    .ingredient-item{

        padding: 2px;
        margin-left: 1rem;
    }
     .ingredients-list {
        display: flex;
        flex-direction: row; /* Stack list items vertically */
        flex-wrap: wrap; /* Allow wrapping to next line if needed */
        gap: 0rem; /* Space between items */
        padding: 0;
        margin: 0;
    }

    .remove-btn {
        margin-left: 0rem; /* Space between ingredient text and remove button */
        display: inline-block;
    }
        
    
    
}