.sidebar {
  width: 348px;
  height: 1024px;
  padding: 22.4px 15px 851px 21px;
  background-color: #faf8f3;
}
.logo {
  width: 168px;
  height: 33px;
  margin: 1.6px 112px 42px 0;
  padding: 0 0 0.3px 0.7px;
}

.main-btn {
  width: 300px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 40px 9px 10px 3px;
  padding: 8px 40px;
  border-radius: 30px;
  background-color: #035C41;
  font: 16px;
  color: white;
}
.assumption{
    width: 284px;
  height: 20px;
  margin: 10px 17px 0 11px;
  font-family: PlusJakartaSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #808f71;
}